{% extends 'base.j2' %}

{% block body %}

<section class="section">
    <div class="container is-fluid">

        <h1 class="title">
            Connection Manager Log
        </h1>

        <div class="cmlog">
            <pre>{{ cm_log }}</pre>
        </div>

    </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
