{% extends 'base.j2' %}

{% block body %}

<section class="section">
    <div class="container is-fluid">

        <div class="notification is-info is-light">
            <strong>CM Restart Requested.</strong>
            <p>Please check the <a href="/cmlog">CM Log</a> page to see the result of the restart.</p>
        </div>

    </div>
</section>

{% endblock %}

{% block scripts %}
{% endblock %}
